.image{
    width: 100vw;
    height: 70vh;
   background-image: url('https://s3.rdbuz.com/images/webplatform/india/Homepage%20header-03%202.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}